SITES=syamxm.com,beanthere.syamxm.com,taskflow.syamxm.com,debian-watch.syamxm.com,mustxrdjar.syamxm.com,cipher-agent.syamxm.com,cipher-forge.syamxm.com,cv-spring.syamxm.com,cv.syamxm.com,c-aegis.syamxm.com
TAILSCALE_IP=100.x.y.z
